<footer class="site-footer">
    <div class="footer-top">
        <!-- icones des reseaux sociaux -->
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-x-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-tiktok"></i></a>
        </div>
    </div>

    <div class="footer-links">
        <!-- liens vers les politiques et parametres -->
        <a href="#">On</a>
        <a href="#">Verra</a>
        <a href="#">Quoi</a>
        <a href="#">Mettre</a>
        <a href="#">Plus tard</a>
    </div>

    <div class="footer-bottom">
        <!-- logo dans le pied de page -->
        <div class="footer-logo">
            <img src="./images/nhl-seeklogo.png" alt="lnh logo">
        </div>
        <p>
            test de notre projet web
        </p>
    </div>
</footer>
