<link rel="stylesheet" href="/css/footer.css">
<footer class="site-footer">
    <div class="footer-bottom">
        <!-- logo dans le pied de page -->
        <div class="footer-logo">
            <img src="/images/nhl-seeklogo.png" alt="lnh logo">
        </div>
    </div>
</footer>
