<style>
    .videoContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .videoContainer iframe{
        margin: 10px;
        width: 560px;
        height: 315px;
    }   
</style>

  <h1>Résumé des matchs NHL d'hier</h1>
  <div class="videoContainer">
    <% if (videos && videos.length > 0) { %>
        <% videos.forEach(video => { %>
            <iframe src="<%= video.url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% }); %>
    <% } else { %>
        <p>Aucune vidéo trouvée.</p>
    <% } %>
</div>