<style>
    .videoContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .videoContainer iframe{
        margin: 10px;
        width: 450px;
        height: 280px;
    }   

    .header{
        text-align: center;
        text-transform: uppercase;
        background: linear-gradient(to right, #d32f2f 30%, white 80%);
        color: black;
        padding: 20px;
        position: relative;
    }
    .header span{
        font-size: 20px;
        font-family: italic;
    }
    

    
    
</style>
<body>
    <div class="header">
        <span >Résumé des matchs NHL d'hier</span>
    </div>
    <div class="videoContainer">
        <% if (videos && videos.length > 0) { %>
            <% videos.forEach(video => { %>
            <iframe src="<%= video.url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <% }); %>
        <% } else { %>
            <p>Aucun Match Hier.</p>
        <% } %>
    </div>
</body>
  