<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>

    <!-- Your custom styles -->
    <style>
        nav {
            background-color: #333;
            padding: 1rem;
            height: 100px;
            align-content: center;
        }

        nav ul {
            list-style: none;
            display: flex;
            justify-content: space-around;            
            margin: 0;
            padding: 0;
        }

        nav ul li {
            margin: 0;
            font-family: Arial, sans-serif;
            font-size: x-large;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            padding: 0.5rem 1rem;
            display: block;
        }

        nav ul li a:hover {
            background-color: #838080;
            border-radius: 5%
        }

        /* Dropdown specific styles */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f3f0f0;
            min-width: 160px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 0.5rem 1rem;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #1f1d1d;
            color: white;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropdown-link {
            background-color: #862121;
        }
    </style>
</head>
<body>    
    <nav>
        <ul style="list-style: none; display: flex; justify-content: space-around; margin: 0; padding: 0;">
            <li><a href="/">Acceuil</a></li>
            <li><a href="/liveScore">Pointage en direct</a></li>
            <li><a href="/listeEquipes">Équipes</a></li>
            <li><a href="#service">Statistique</a></li>
            <li><a href="#contact">Classement</a></li>
            <li><a href="#service">Boutique</a></li>

            <!-- Membres Dropdown -->
            <li class="dropdown">
                <a href="#" class="dropdown-link">Membres</a>
                <div class="dropdown-content">
                    <a href="/users/login">Se connecter</a>
                    <a href="http://localhost:3000/users/logout">Logout</a>
                    <a href="http://localhost:3000/users/signup">Créer un compte</a>
                </div>
            </li>
        </ul>
    </nav>
</body>
</html>
