
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/navbar.css">
<body>    
    <nav>
        <ul style="list-style: none; display: flex; justify-content: space-around; margin: 0; padding: 0;">
            <!-- logo nhl -->
            <li>
                <a href="/">
                    <img src="/images/nhl-logo.png" alt="NHL Logo" class="nhl-logo">
                </a>
            </li>
            <li><a href="/">Acceuil</a></li>
            <li><a href="/listeEquipes">Équipes</a></li>
            <li><a href="/stats">Statistique</a></li>
            <li><a href="/classement">Classement</a></li>
            <li><a href="https://www.nhlshop.ca/source/BM-nhlcom-HP-main-nav-ca">Boutique</a></li>

            <!-- menu deroulant membres -->
            <li class="dropdown">
                <% if (typeof username !== 'undefined') { %> 
                    <a href="#" class="dropdown-link" style="display: flex; align-items: center;">
                        <img src="/images/puck.jpg" alt="User Image" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 8px;" />
                        <span><%= username %></span>
                    </a>
                    <div class="dropdown-content">
                        <a href="/users/logout">Se deconnecter</a>
                        <a href="/users/members">Votre espace</a>
                    </div>
                <% } else { %>
                    <a href="#" class="dropdown-link">Membres</a>
                    <div class="dropdown-content">
                        <a href="/users/login">Se connecter</a>
                        <a href="http://localhost:3000/users/signup">Creer un compte</a>
                        <a href="/users/login">Se deconnecter</a>
                    </div>
                <% } %>
            </li>
        </ul>
    </nav>
    
</body>
