<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!--Navbar-->
    <%- include('composant/navbar') %>
    <!--Navbar-->

  <h1>Bienvenue sur la page d'accueil!</h1>

    <% if (username) { %>
        <p>Bienvenue, <%= username %>!</p>
        <a href="/users/logout">Se déconnecter</a>
    <% } else { %>
        <p>Veuillez vous connecter pour accéder à votre espace personnel.</p>
        <a href="/users/login">Se connecter</a>
    <% } %>


</body>
</html>