<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Members Page</title>
</head>
<body>
    <h1>Bienvenue, <%= username %>!</h1> <!-- Display the user's name -->
    <p>Personnaliser votre page en choisissant votre équipe favorite <a id="fav" href=""><i>ici</i></a></p>
    <a href="/users/logout">Logout</a>
</body>
</html>
