<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NHL</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <!--Navbar-->
     <%- include('composant/navbar') %>
     <!--Navbar-->
    <h1>Binevenue</h1>
    <a href="/listeEquipes">Liste d'équipes <br>
    <a href="/equipe/TOR">Choisir une equipe ex: TOR <br>
    <a href="/equipe/NJD">Liste d'équipes ex: NJD


    </a>
  </body>
</html>
 