<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/listeEquipes">Liste d'équipes <br>
    <a href="/equipe/TOR">Choisir une equipe ex: TOR <br>
    <a href="/equipe/NJD">Liste d'équipes ex: NJD


    </a>
  </body>
</html>
 