<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistique Joueur</title>
</head>
<body>

    <%= playerStats.firstName%>
    <%= playerStats.lastName%>
    <%= playerStats.sweaterNumber%>
    <%= playerStats.goals%>
    
</body>
</html>